<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>
<body>
    <h1>Add New Product</h1>
    
    <form th:action="@{/api/add}" th:object="${product}" method="post">
        <label>Name:</label>
        <input type="text" th:field="*{pname}" required />
        <br><br>
        
        <label>Price:</label>
        <input type="number" th:field="*{price}" step="0.01" required />
        <br><br>

        <label>Category:</label>
        <select th:name="categoryId" required>
            <option value="" disabled selected>Select Category</option>
            <option th:each="cat : ${categories}" 
                    th:value="${cat.id}" 
                    th:text="${cat.cname}">
                            th:text="${cat.id + ' - ' + cat.cname}">
            </option>
        </select>
        <br><br>
        <button type="submit">Add Product</button>
    </form>

    <br>
    <a th:href="@{/api/list}">View All Products</a>
</body>
</html>
